<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Putting User Input into JS Objects</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='script/main.js')}}"></script>
</head>
    
    <body>

<div class="onClickTextOverImage"
     style="background-image:url(static/images/0159MR0008640060201361E01_DRCL_15.jpg)">
  <div>
  <form>
    <label for="label">Label:</label><br>
    <input type="text" id="0159MR0008640060201361E01_DRCL_15" name="label" value=""><br>
   </form>
</div>
</div>

<div class="onClickTextOverImage"
     style="background-image:url(static/images/0165MR0008860060201617E01_DRCL_19.jpg)">
  <div>
    <form>
        <label for="label">Label:</label><br>
        <input type="text" id="0165MR0008860060201617E01_DRCL_19" name="label" value=""><br>
       </form>   
</div>
</div>

<div class="onClickTextOverImage"
     style="background-image:url(static/images/0170ML0009050820104761E01_DRCL_9.jpg)">
     <div>
     <form>
     <label for="label">Label:</label><br>
     <input type="text" id="0170ML0009050820104761E01_DRCL_9" name="label" value=""><br>
    </form>
</div>

<img src="static/images/0165MR0008860060201617E01_DRCL_19.jpg" class="img-top" alt="Card Front">
</div>


</body>
</html>